.activityForm{
    color:yellow;
}

.activityTable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px double rgba(255, 255, 255, 1);
    border-radius: 14px;
    background-color: rgba(112, 16, 163, 0.3);   
    height: 200px;    
    width: 400px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.formSelect{
    width: 13.3em;
}

.activityBody {
    height: 36.5em;
    background-image: url('../../Assets/BgCountries.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }